<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFF</string>
		<key>tabTintColor</key>
		<string>#000</string>
		<key>tabBackgroundColor</key>
		<string>#FFF</string>
		<key>navigationTintColor</key>
		<string>#000</string>
		<key>navigationBackgroundColor</key>
		<string>#FFF</string>
	</dict>
	<key>ViewController</key>
	<dict>
		<key>labelTextColor</key>
		<string>#000</string>
		<key>buttonTitleNormalColor</key>
		<string>#000</string>
		<key>buttonTitleHighlightedColor</key>
		<string>#BFA</string>
		<key>backImage</key>
		<string>back</string>
	</dict>
</dict>
</plist>
